body {
  font-family: Helvetica, sans-serif;
  background-color: #3b429f;
}

h1,
h2,
.hero-text {
  font-family: 'Tilt Warp', cursive, sans-serif;
}

h1 {
  font-size: 30px;
  /* padding: 20px; */
  /* font-weight: normal; */
  /* color: #f5d7e3; */
}

h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

p {
  margin: 0 0 10px;
  font-size: 20px;
}

p,
.locations li {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav,
footer,
nav ul,
.title,
.locations,
.pictures {
  display: flex;
}

nav,
footer {
  background-color: #d0aad9;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.title {
  align-items: center;
}

nav img {
  width: 15%;
  padding: 10px 20px;
  margin-right: 20px;
  border: 5px dotted #f4a5ae;
}

nav ul {
  padding: 0 30px;
}

/* Make the screen still readable for small screens */
@media screen and (max-width: 640px) {

  nav,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav ul {
    display: block;
    padding: 20px 10px;
    margin: auto auto;
  }
}

a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  padding: 0 30px;
}

main {
  background-color: white;
}

.home {
  padding-bottom: 10px;
}

section {
  margin-bottom: 50px;
}

.hero-image,
.stay-connected {
  background-color: rgba(58, 0, 84, 0.72);
}

.hero-image {
  background-image: linear-gradient(rgba(58, 0, 84, 0.72), rgba(58, 0, 84, 0.72)), url("../img/family.jpg");
  background-size: cover;
  background-position: center 27%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding: 200px 0;
}

.hero-text {
  text-align: center;
  color: white;
}

.hero-text h2 {
  font-size: 2rem;
  /* margin-bottom: 15px; */
}

.hero-text p {
  font-size: 1.5rem;
}

.locations {
  justify-content: center;
  align-items: stretch;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}

.locations img {
  width: 30%;
  margin: 10px;
}

.locations h2 {
  text-align: center;
}

.locations article {
  display: block;
  background-color: #d0aad9;
  border: 2px solid black;
  height: auto;
  margin: 10px;
  padding: 20px;
}

.locations li {
  margin: 10px;
  font-size: 20px;
}

span {
  font-weight: 600;
}

.hours {
  text-align: center;
  /* color: #f5d7e3; */
}

.pictures {
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.pictures img {
  border: 2px solid black;
  margin: 20px 20px;
}

.stay-connected {
  background-image: linear-gradient(rgba(58, 0, 84, 0.72), rgba(58, 0, 84, 0.72)), url("../img/chinook.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  text-align: center;
  padding: 100px 0;
}

.input {
  background-color: rgba(244, 165, 174, 0.8);
  width: fit-content;
  margin: auto auto;
  padding: 20px;
}

input {
  padding: 5px;
  border-radius: 2px;
}

.input input {
  display: block;
  margin: 5px auto;
  /* padding: 5px;
  border-radius: 2px; */
}

.btn {
  background-color: #3b429f;
  color: white;
}

/* footer nav {
  padding-right: 0;
} */

footer nav li {
  padding: 0 30px;
}

/* SALES page */

/* Makes sticky footer. Code from: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sales {
  padding: 20px;
  text-align: center;
  flex: 1;
}

.sales article {
  margin: 30px;
}

.sales img {
  width: 40%;
  padding: 40px;
  display: block;
}

.sales img,
table {
  margin: auto auto;
}

/* Makes the table responsive */
.sales div {
  overflow-x: auto;
  padding: 20px;
}

table {
  background-color: #f4a5ae;
  border: 5px solid black;
}

/* th, td {
  border: 0.5px solid black;
} */

th,
tbody td:first-of-type {
  /* background-color: #d0aad9; */
  font-weight: bold;
}

td {
  text-transform: capitalize;
}

form {
  background-color: #3b429f;
  width: fit-content;
  margin: auto auto;
  color: black;
  padding: 20px;
  border: 2px solid black;
}

form * {
  padding: 5px;
}

fieldset {
  display: flex;
  flex-direction: column;
  background-color: #d0aad9;
}

legend {
  font-weight: bold;
  font-size: 20px;
}

label {
  font-size: 15px;
  font-weight: 600;
}

form .btn {
  width: fit-content;
  margin: 10px auto;
  border: 0px;
}
